<mat-toolbar id="mat-toolbar" class="toolbarMenu">
  <mat-toolbar-row class="container">
    <span class="separation-toolbar"></span>
    <h1><a href="/">Friends OF Mine</a></h1>

    <span class="separation-fin"></span>

    <a routerLink="/users" routerLinkActive="true"><span>Utilisateurs</span></a>
    <span class="separation-toolbar"></span>

    <a routerLink="/inscription" routerLinkActive="true"><span>Inscription</span></a>
    <span class="separation-toolbar"></span>

    <a routerLink="/search" routerLinkActive="true"><span>Recherche</span></a>
    <span class="separation-toolbar"></span>

    <a routerLink="/admin" routerLinkActive="true"><span>Admin</span></a>

  </mat-toolbar-row>
</mat-toolbar>

<div class="page-layout">
  <router-outlet></router-outlet>
</div>


